* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans";
    background-color: rgb(87, 87, 87);
}

.daHead {
    border-bottom: 2px solid orange;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("https://media1.giphy.com/media/7WDpgeYllwXWCTn0I8/source.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.welcome {
    text-align: center;
    color: black;
    padding-top: 35vh;
    font-size: 300%;
}

.wel {
    font-size: 150%;
    text-align: center;
    color: black;
    padding-top: 5vh;
}

.nav-bar {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.nav-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.current-nav-item {
    color: orange;
    text-decoration: none;
}

.nav-item{
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    color: orange;
    transition: .5s;
}

.footer {
    border-top: 2px solid orange;
    height: 60vh;
    background-color: rgb(83, 83, 83);
    overflow: hidden;
}

.feedback-section {
    display: flex;
    justify-content: center;
    height: 25vh;
    margin-top: 10vh;
}

.made-in-abyss {
    text-align: center;
    margin-top: 5vh;
    font-size: 200%;
}

.foot-link-one {
    color: orange;
    text-decoration: none;
    transition: 0.2s;
}

.foot-link-one:hover {
    color: white;
    transition: 0.2s;
}

.foot-email {
    height: 20vh;
    width: 35%;
}

.feed {
    text-align: center;
    color: orange;
    margin-top: 2vh;
}

.fo {
    text-align: center;
    margin-top: 3vh;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: 120%;
    transition: 0.3s;
}

.footer-link:hover {
    text-decoration: underline;
    color: orange;
    transition: 0.2s;
}

.trademark {
    text-align: center;
    color: white;
    margin-top: 10vh;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
}
header.sticky .logo,
header.sticky ul li a {
    color: #000;
}

.checkOut {
    height: 85vh;
    background-color: rgb(87, 87, 87);
    border-bottom: 2px solid orange;
}

.checkHead {
    text-align: center;
    padding-top: 10vh;
    font-size: 200%;
    color: orange;
    text-decoration: underline;
    letter-spacing: 0.1rem;
}

.checkPara {
    color: white;
    padding-top: 5vh;
    margin-left: 25%;
    font-size: 130%;
    width: 50%;
    text-align: center;
}

.checking {
    font-size: 120%;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.checkLink {
    color: white;
}

.checkLink:link {
    font-size: 120%;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.checkLink:hover { 
    text-decoration: underline;
    color: orange;
    transition: 0.2s;
}

.checkFood {
    display: flex;
    height: 34vh;
}

.checkDiv {
    height: 34vh;
    width: 30%;
    margin-left: 2.5%;
    background-color: gray;
    overflow: hidden;
}

.checkImages {
    height: 34.5vh;
    width: 100%;
    margin: none;
    padding: none;
    opacity: 0.7;
    overflow: hidden;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.checkImages:hover {
    opacity: 1;
    transform: scale(1.00);
}

.allAbout {
    height: 80vh;
    background-color: gray;
    
}

.aboutHead {
    text-align: center;
    padding-top: 6vh;
    font-size: 200%;
    color: orange;
    text-decoration: underline;
    letter-spacing: 0.1rem;
}

.aboutPara {
    text-align: center;
    padding-top: 10vh;
    font-size: 150%;
    color: white;
    margin: 3vh;
}

.check {
    text-align: center;
    font-size: 120%;
    padding-top: 1vh;
}

.abouts {
    margin: 5vh;
    height: 58vh;
    display: flex;
    justify-content: space-between;
}

.aboutDiv1 {
    height: 58vh;
    width: 45%;
    background-color: rgb(87, 87, 87);
}

.aboutDiv2 {
    height: 58vh;
    width: 45%;
    background-color: rgb(87, 87, 87);
}

.Div2Img {
    width:100%;
    height: 58vh;
    opacity: 0.8;
}

.customers-review {
    height: 100vh;
    border-top: 2px solid orange;
    overflow: hidden;
}

.customers-review-title {
    color: orange;
    text-align: center;
    font-size: 200%;
    padding-top: 10vh;
    text-decoration: underline;
    letter-spacing: 0.1rem;
}

.reviews-btns {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    height: 100px;
    position: relative;
    left: 1000px;
    top: 100px;
}

#previous {
    border: none;
    background-color: white;
    height: 20px;
}

#next {
    border: none;
    background-color: white;
    height: 20px;
}

.clients {
    display: flex;
    margin-top: 20px;
    margin-left: 85px;
    width: 1100px;
    height: 80vh;
    justify-content: center;
}

.client {
    width: 100%;
    padding-left: 160px;
}

.client-para {
    color: gray;
    font-size: 180%;
    width: 800px;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-name {
    display: flex;
    margin-left: 300px;
    margin-top: 50px;
}

.name {
    color: gray;
    font-size: 140%;
    margin-top: 14px;
    margin-left: 10px;
}